<div class="card">
  <div class="card-header">
    Customers
    <a class="btn btn-primary float-right" [routerLink]="['add-customer']">Add</a>
  </div>
  <div class="card-body card-table-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Street</th>
          <th scope="col">City</th>
          <th scope="col">Zip Code</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{customer.firstName}} {{customer.lastName}}</td>
          <td>{{customer.age}}</td>
          <td>{{customer.primaryAddress.street}}</td>
          <td>{{customer.primaryAddress.city}}</td>
          <td>{{customer.primaryAddress.zipCode}}</td>
          <td>
            <a [routerLink]="['/edit-customer', customer.id]" class="btn btn-primary mr-2">Edit</a>
            <button class="btn btn-danger mr-2" (click)="delete(customer)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


